/* poppins-regular - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v15-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v15-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-600 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v15-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v15-latin-600.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-800 - latin */

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v15-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/poppins-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/poppins-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/poppins-v15-latin-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/poppins-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/poppins-v15-latin-800.svg#Poppins') format('svg');
    /* Legacy iOS */
}

:root {
    --font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
}

*::before, *::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;
    color: #d4d6d4;
    transition: color 0.3s ease-in-out;
}

.link svg {
    width: 12px;
    height: 12px;
    fill: currentColor;
    transform: translateY(1px);
}

.link span {
    text-indent: 10px;
    border-bottom: 1px solid currentColor;
}

.link:hover {
    color: #FFD723;
}

.header {
    padding: 24px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    border-radius: 100%;
    padding: var(--offset-vertical) var(--offset);
    width: 40px;
    height: 40px;
    background-color: #f5f6f7;
}

.burger-line {
    position: absolute;
    left: 50%;
    top: var(--offset-vertical);
    display: inline-block;
    width: calc(100% - (var(--offset-horizontal) * 2));
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    padding-top: 189px;
    padding-bottom: 100px;
    min-height: 811px;
    background-image: url("../img/hero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 616px;
    color: #fff;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
}

.hero-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}

.hero-descr {
    margin: 0;
    margin-bottom: 45px;
    font-size: 16px;
    line-height: 26px;
}

.hero-link {
    color: #FFD723;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-title {
    margin: 0;
    margin-bottom: 60px;
    max-width: 606px;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.services-subtitle {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    max-width: 183px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr {
    margin: 0;
    margin-bottom: 56px;
    font-size: 14px;
    max-width: 194px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.services-link {
    margin-top: auto;
    margin-bottom: 0;
}

.get-started {
    position: relative;
    top: 180px;
    background: #FAFAFA;
    width: 88%;
    padding: 70px 0;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.get-started-title {
    margin: 0;
    max-width: 822px;
    font-weight: bold;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
    margin-bottom: 50px;
}

.get-started-link {
    text-transform: uppercase;
}

.footer {
    padding-top: 300px;
    color: #fff;
    background-image: url("../img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #5D6544;
    padding-bottom: 52px;
}

.footer-contacts-text {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    margin-bottom: 8px;
}

.footer-contacts-item:not(:last-child) {
    margin-right: 128px;
}

.footer-contacts-value {
    font-weight: 700;
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.footer-middle {
    --grid-gap: 70px;
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: val(--grid-gap);
}

.footer-title {
    margin: 0;
    margin-bottom: 21px;
    font-weight: 700;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-link {
    display: inline-block;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-text {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    margin-bottom: 23px;
}

.footer-mail {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-column:last-child {
    position: relative;
}

.footer-column:last-child::before {
	content: "";
	position: absolute;
	top: 0;
	left: calc(-1 * (var(--grid-gap)));
	width: 1px;
	height: 100%;
	background-color: #5D6544;
}
.social {
	display: flex;
	align-items: center;
}


.social-item:not(:last-child) {
	margin-right: 11px;
}

.social-link {
	/* display: block; */
	border-radius: 100%;
	width: 33px;
	height: 33px;
	background-color: #FFD723;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 18px auto;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-link:hover {
	opacity: 1;
}

/* .social-link-fb {
	background-image: url("../img/facebook.svg");
}

.social-link-tw {
	background-image: url("../img/twitter.svg");
}

.social-link-g {
	background-image: url("../img/google-plus.svg");
}

.social-link-in {
	background-image: url("../img/linkedin.svg");
} */

.copyright {
	font-size: 14px;
	line-height: 21px;
	color: #B5C096;
}

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 0;
}

.get-started {
	padding-left: calc((100% - 1110px) / 2);
	padding-right: 15px;
}

@media (max-width: 1140px) {
	.get-started {
		padding-left: 15px;
	}
}

@media (max-width: 992px) {
	.services-list {
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
	}

	.services-subtitle {
		max-width: none;
	}

	.services-descr {
		max-width: none;
	}

	.footer-middle {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-column:last-child::before {
		display: none;
	}
}

@media (max-width: 768px) {
	.get-started-title {
		font-size: 42px;
		line-height: 54px;
	}
}

@media (max-width: 576px) {
	.footer-middle {
		--grid-gap: 40px;
		grid-template-columns: repeat(1, 1fr);
	}

	.hero-title {
		font-size: 50px;
		line-height: 65px;
	}

	.services {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-bottom {
		flex-direction: column;
	}
}

@media (max-width: 375px) {
	.footer-mail {
		font-size: 20px;
	}

	.logo {
		width: 65%;
	}

	.hero-title {
		font-size: 45px;
		line-height: 60px;
	}

	.services-list {
		grid-template-columns: repeat(1, 1fr);
	}
}